*,
*::before,
*::after {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: lowercase;
}

@keyframes zoom {
  from {width: 125%; margin: -12.5%}
  to {width: 100%; margin: 0%}
}

body {
  width: 50%;
  margin: 10% auto;
  text-align: left;
  display: block;
  z-index: -10;
}

.background-0 {
  background-image: linear-gradient(210deg, brown, maroon);
}

.background-1 {
  background-image: linear-gradient(210deg, indianred, maroon);
  background-attachment: fixed, local;
}

h1,
h2 {
  font-size: 6vh;
  text-align: left;
  margin: 10% 0% -1.4%;
}

h1, 
h2,
h3,
h4,
strong {
  filter: drop-shadow(0 2px 2px maroon);
  background-image: linear-gradient(salmon 0% 1%, lightyellow 15% 90%, lightyellow 50% 90%, cadetblue 100% 5%);
  background-clip: text;
  background-attachment: fixed;
  color: transparent;
}

small {
  color: salmon;
}

p,
ul, 
ol{
  padding: 5px;
  margin: 0%;
  z-index: -5;
  border-radius: 0px 25px 25px 25px;
  box-shadow: inset 0px 2px 5px maroon;
}

p,
li {
  transition-property: filter, background-color, color;
  transition-duration: 250ms;
  filter: drop-shadow(0 0.1vh 0.1vh maroon);
  background-image: linear-gradient(brown 0% 1%, salmon 15% 90%, salmon 50% 90%, maroon 100% 5%);
  background-clip: text;
  background-attachment: fixed;
  color: transparent; 
  padding: 1vh 5vw;
  border-radius: 0px 25px 25px 25px;
}


p:hover,
li:hover {
  filter: drop-shadow(0 -1px 0px salmon) drop-shadow(0 2px 2px maroon);
  color: rgba(255, 255, 224, 0.701);
  mix-blend-mode:luminosity;
  /* background-color: white; */
  background-clip: border-box;
  background-attachment: fixed;
  /* background-image: linear-gradient(0deg, brown 0% 10%, rgba(210, 180, 140, 0.299) 50% 40%, rgba(250, 128, 114, 0.108) 90% 1%); */
  background-image: linear-gradient(210deg, brown, maroon);
}

.container {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  z-index: -1;
}

.image-layer{
  overflow: hidden;
  width: 100%;
  margin-bottom: -100%;
  aspect-ratio: 1 / 1;
  box-shadow: inset 0px 2px 5px maroon;
  background-color: rgba(128, 0, 0, 0.2);
  z-index: 0;
}

.image-layer:hover {
  background-color: transparent;
}

div img {
  transition: width 100ms, margin 100ms;
  width: 125%;
  margin: -12.5%;
  z-index: -1;
  object-fit: cover;
}

.container:hover img {
  /* animation-name: zoom;
  animation-duration: 100ms; */
  width: 100%;
  margin: 0%;
}

ul ol,
ol ul,
ul ul {
  padding: 0% 5% 0%;
  margin: 0% 0% 2% 0%;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
}

li {
  font-size: 4vh;
  text-align: left;
  border: none;
  box-shadow: none;
  display: block;
  width: 100%;
}

li li {
  font-size: 3vh;
}

p {
  font-size: 4vh;
}

a {
  text-decoration: none;
}

